name: Sync to Gitee

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 推送到 Gitee
        env:
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
        run: |
         git remote add gitee https://wjx325870:${GITEE_TOKEN}@gitee.com/wssrwjjd/KDENGINE.git
         git push -f gitee main 
